body{
    background-image: url("images/Rentlyhood_background.png");
	background-size: cover;
	background-position: center;
}

.navbar-brand-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
}

.navbar-brand-center img {
    width: 250px;
    max-width: 100%;
    height: auto;
}

button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.submit-button{
    background-color: #FFC300;
}

.font-size-sm {
    font-size: 14px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .navbar-brand-center {
        position: static;
        transform: none;
    }
    .navbar-brand-center img {
        width: 220px;
    }

    .navbar-brand-left {
        position: static;
        transform: none;
    }
    .navbar-brand-left img {
        width: 40px;
    }
    .bottom{
        margin-bottom: 10px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation: modal-fade-in 0.5s ease-in-out;
}

/* Modal fade-in animation */
@keyframes modal-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}